/*****************************************************************************/
/* Common
/*****************************************************************************/

/* Global Reset */

html, body {
    margin: 0;
    padding: 0;
}


/* Special case, require to be written separately for this pseudo element */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/::selection */
::-moz-selection {
  /*background-color: rgba(255,0,128,1);*/
  background-color: rgba(255,255,0,1);
  /*color: white;*/
  color: black;
}

::selection {
  /*background-color: rgba(255,0,128,1);*/
  background-color: rgba(255,255,0,1);
  /*color: white;*/
  color: black;
}


body {
    font: 18px/1.618em 'Belgrano', serif;
    color: #333;
    background-color: #f6f6ee;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IM Fell DW Pica', times, serif;
  line-height: 1.1618em;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child
{
  margin-top: .5em;
}

h1 {
    font-size: 3em;
    margin: 1em 0 calc(1em/6*1);
}

h2 {
    font-size: 2.5em;
    margin: 1em 0 calc(1em/6*2);
}

h3 {
    font-size: 2em;
    margin: 1em 0 calc(1em/6*3);
}

h4 {
    font-size: 1.75em;
    margin: 1em 0 calc(1em/6*4);
}

h5 {
    font-size: 1.50em;
    margin: 1em 0 calc(1em/6*5);
}

h6 {
    display: inline-block;
    font-size: 1.25em;
    margin: 1em 0 0.2em;
}

p {
    margin: 1em 0;
}

strong {
  /*border-bottom: 1px dotted #333;*/
  text-decoration: underline;
}

ul, ol {
    padding: 0;
}

a {
    font-family: 'Ubuntu Mono', monospace;
    color: #00a;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

a:visited {
    color: #a0a;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
}

img
{
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
  background-color: rgba(205, 202, 162, 0.16);

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  border: .7em solid transparent;

  /*outline: 20px solid rgba(205, 202, 162, 0.16);*/
}

/*
img[src$=".gif"] {
  min-width: 100%;
}
*/

cite {
  background-color: rgba(205, 202, 162, 0.16);
  display: block;
  font-size: .8em;
  color: #999;
  border: 1em solid transparent;
  border-top:0;
  /*outline: 20px solid rgba(205, 202, 162, 0.16);*/
}

cite::before {
  content: 'Source: ';
}

/* inline code */
code {
  background-color: #555;
  border-radius: 3px;
  padding: 4px 8px;
  color: #FFE14A;
}


/*****************************************************************************/
/* Common stuff
/*****************************************************************************/
.error {
  color: red;
}

.warning {
  color: rgb(200,100,0);
}


/*****************************************************************************/
/* Home
/*****************************************************************************/
.posts
{
    margin: 2em 0;
    font-family: 'IM Fell DW Pica', times, serif;
}

.posts li
{
    list-style-type: none;
    line-height: 1.75em;
    font-family: inherit;
}

.posts li a {
  font-size: 1.1em;
  font-family: inherit;
}

.posts span, .meta
{
    color: #aaa;
    font-family: 'Ubuntu Mono', monospace;
    font-size: .8em;
}

/*****************************************************************************/
/* Site
/*****************************************************************************/
.site
{
    width: 38em;
    margin: 2em auto 2em;
}

@media (min-width: 480px) and (max-width: 768px) {
  .site {
    width: 25em;
  }
}

@media (max-width: 479px) {
  .site {
    width: 16em;
  }
}



.header {
  border-bottom: 4px solid #eee;
}

.header a
{
    font-weight: bold;

    text-decoration: none;
}

.title
{
    display: inline-block;

    margin-bottom: 2em;
}

.title a
{
    color: #a00;
}

.title a:hover
{
    color: #000;
}

.header a.extra
{
    margin-left: 1em;

    color: #aaa;
}

.header a.extra:hover
{
    color: #000;
}

.footer
{
    font-size: .8em;

    overflow: hidden;

    margin-top: 2em;

    color: #666;
    border-top: 4px solid #eee;
}

.footer .contact
{
    float: left;

    margin-right: 3em;
}

.footer .contact a
{
    color: #8085c1;
}

/*****************************************************************************/
/* Posts
/*****************************************************************************/
.post {
  border-top: 4px solid #eee;
}

.post .rtl {
  direction: rtl;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

blockquote
{
    margin: 0;
    padding: 0 0 0 1em;
    color: #666;
    border-left: .4em solid rgba(205, 202, 162, .5);
    background: rgba(205, 202, 162, 0.16);
}


blockquote cite {
  display: block;
  font-size: .8em;
  color: #999;
  background: none;
}

blockquote cite::before {
  content: '\2014 \00A0';
}

kbd {
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.15em 0.4em 0.1em;

  color: #333;
  font-family: 'Ubuntu Mono', monospace;
  line-height: 1.2em;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;

  border: 1px solid #bbb;
  border-radius: 3px;
  background-color: #f7f7f7;
  box-shadow: 0 1px 0px rgba(0,0,0,0.2),0 0 0 2px #fff inset;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  max-width: 100%;
}

th {
  font-weight: bold;
  vertical-align: middle;
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border: 3px solid #ddd;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

table > tbody > tr:first-child > td {
  border-top: 0;
}

table > thead:first-child > tr:first-child > th:first-child,
table > tbody > tr > td:first-child {
  border-left: 0;
}

table > thead:first-child > tr:first-child > th:last-child,
table > tbody > tr > td:last-child {
  border-right: 0;
}


/*****************************************************************************/
/* Fluid box
/*****************************************************************************/
.fluidbox {
  outline: none;
}
.fluidbox-overlay {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all .25s ease-in-out;
}
.fluidbox-wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  transition: all .25s ease-in-out;
}
.fluidbox-ghost {
  background-size: cover;
  background-position: center center;
  position: absolute;
  transition: all .25s ease-in-out;
}
  .fluidbox-closed .fluidbox-ghost {
    -webkit-transition-property: top, left, opacity, -webkit-transform;
    -moz-transition-property: top, left, opacity, -moz-transform;
    -o-transition-propert: top, left, opacity, -o-transform;
    transition-property: top, left, opacity, transform;
    transition-delay: 0, 0, .25s, 0;
  }