<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- typeface -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Roboto:300,900|Raleway' rel='stylesheet' type='text/css'>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/assets/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <main role="main">
    <header>
      <div class="row">
        <h1>
          <a href="/">blog@kent.li</a>
        </h1>
      </div>
    </header>

      <article class="row">
        {{ content }}
      </article>

      <footer class="footer">
        <div class="row">
          <address>
              <a href="http://kent.li/au">Kent Liau</a><br />
              <a href="mailto:u@kent.li">u@kent.li</a>
          </address>

          <address>
              <a href="https://twitter.com/kentliau">@kentliau</a><br />
              <a href="https://google.com/+kentliau">+Kent Liau</a><br />
              <a href="https://github.com/kentliau">github.com/kentliau</a><br />
              <a href="https://www.behance.net/kentliau">behance.com/kentliau</a><br />
          </address>
        </div>
      </footer>
    </main>

    <script>
      (function(d, t) {
        var e = d.createElement(t);
        e.src = d.location.protocol + '//www.browserawarenessday.com/widget/53b90fc74ff22ef40600000c';
        e.async = true;
        var n = d.getElementsByTagName(t)[0]; n.parentNode.insertBefore(e, n);
      })(document, 'script');
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/js/fluidbox.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
