<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- typeface -->
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Belgrano|IM+Fell+DW+Pica' rel='stylesheet' type='text/css'>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/assets/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/main.css">

    </head>
    <body>
        <div class="site">

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Kent Liau<br />
                u@kent.li
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/kentliau">github.com/kentliau</a><br />
                <a href="https://twitter.com/kentliau">twitter.com/kentliau</a><br />
              </p>
            </div>
          </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/assets/js/fluidbox.js"></script>
        <script src="/assets/js/main.js"></script>
    </body>
</html>
