<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- typeface -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Belgrano|IM+Fell+DW+Pica' rel='stylesheet' type='text/css'>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/assets/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <main role="main">
      <header>
        <div class="row">
          <a href="/">Kent Liau</a>
        </div>
      </header>

      <article class="row">
        {{ content }}
      </article>

      <footer class="footer">
        <div class="row">
          <address>
              Kent Liau<br />
              u@kent.li
          </address>

          <address>
              <a href="https://www.behance.net/kentliau">behance.com/kentliau</a><br />
              <a href="https://github.com/kentliau">github.com/kentliau</a><br />
              <a href="https://plus.google.com/+kentliau">plus.google.com/+kentliau</a><br />
              <a href="https://twitter.com/kentliau">twitter.com/kentliau</a><br />
          </address>
        </div>
      </footer>
    </main>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/js/fluidbox.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
